.header_color {
    background: linear-gradient(to top, #99c0fb 0%, #5a93ee 100%);
}

.nav_color {
    background-color: #bbd6ff;

}

.hidden_bar {
    background-color: f6dbb6;
}

.expanded_bar {
    background-color: #FF8207;
}

.footer {
    background-color: #f7e4b1;
}

.selected_list_color {
    background-color: rgb(152, 209, 231);
}