*{
    box-sizing: border-box;
}

.layout {
    display: flex;
    width: 1200px;
    height: 100%;
    flex-wrap: wrap;
    z-index: 1;
}
.container {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

.header {
    height: 6em;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

.header_title {
    font-size: 40px;
    color: aliceblue;
    text-shadow: 2px;
    outline-width: 1px;
    outline-color: black;
}

.nav {
    height: 1.5em;
    width: 600px;
    border-radius: 4px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Space the items evenly */
    width: 100%; /* Ensure the ul takes up the full width of .nav */
}

li {
    font-size: 15px;
    padding: 4px;
    color: blue;
}



.side {
    width: 360px;
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    border-top: 1px solid rgba(64, 113, 238, 0.911);

}

.main {
    width: 840px;
    height: 80vh;
    display: flex;
    border-top: 1px solid rgba(64, 113, 238, 0.911);

}

.main_content {
    width: 100%;
}
.main_header {
    width: 100%;
    height: 30px;

    display: flex;
    margin-top: 10px;

    padding-bottom: 50px;
    justify-content: center;



}


.main_title {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

.outer_form_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px; 

}
.form_container {
    display: grid;
    grid-template-columns: 150px 400px;
    grid-template-rows: repeat(6, 25px);

    height: fit-content;

}

label {
    text-align: right;
    font-size: 15px;

}

input[type="text"] {
    margin-left: 5px;
    height: 20px;

}
input[type="date"] {
    font-size: 15px;
    margin-left: 5px;
    height: 20px;
}








a:link {
    text-decoration: none;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    border-radius: 4px;
}